@page
@model ExerciseLog.UI.Pages.HomePage.IndexModel
@{
}
<div style="background-color: #009; border-radius: 10px; padding: 5px; width: 200px; height:50px">
	<a href="Log.html">
		<button type="button" style="height: 50px; width: 130px; background-color: #3bb8ed; border-radius: 10px">ADD LOG</button>
	</a>
	<a href="Start.html">
		<button type="button" style="width:65px; height:50px; background-color:#3bed62; border-radius: 10px">START</button>
	</a>
</div>

<div style="background-color: #ed563b; border-radius: 10px; padding: 5px; width: 200px; height:50px">
	<a href="Data.html">
		<button style="background-color: #ed3b88; height: 50px; width: 200px; border-radius: 10px">VIEW DATA</button>
	</a>
</div>