@page
@model ExerciseLog.UI.Pages.HomePage.IndexModel
@{
}
<title>LOG</title>
<div style="background-color: #90b5e8; border-color: #116ef0; width: 310px; border-width: 5px; border-style: solid">
	<h2>
		Exercise:
		<select name="exercise" style="width: 200px; height: 40px; font-size: 20px; border-radius: 10px">
			<option value="running">Running</option>
			<option value="walking">Walking</option>
			<option value="skateboarding">SkateBoarding</option>
			<option value="biking">Biking</option>
		</select>
	</h2>
</div>

<div style="background-color: #90b5e8; border-color: #116ef0; width: 310px; border-width: 5px; border-style: solid">
	<h2>
		Durration:
		<input type="time" id="appt" name="appt"
			   min="09:00" max="18:00" required>
	</h2>
</div>

<div style="background-color: #90b5e8; border-color: #116ef0; width: 310px; border-width: 5px; border-style: solid">
	<h2>
		Date:
		<input type="date" id="start" name="trip-start"
			   value="2018-07-22"
			   min="2018-01-01" max="2018-12-31">
	</h2>
</div>

<div style="background-color: #90b5e8; border-color: #116ef0; width: 310px; border-width: 5px; border-style: solid">

	<button style="background-color: #113ff7; height: 50px; width: 300px; border-radius: 10px; font-size: 25px">ENTER</button>

</div>

<div>
	<a href="Main.html">
		<button style="background-color: #white; height: 50px; width: 310px; border-radius: 10px; font-size: 25px; border-style: solid">Exit</button>
	</a>
</div>