@page
@model ExerciseLog.UI.Pages.HomePage.IndexModel
@{
}
<html>
<title>Data</title>
<style>
    table, th, td {
        border: 1px solid black;
        height: 15px;
    }
</style>

<table style="width:100%">
    <tr>
        <th>Date</th>
        <th>Exercise</th>
        <th>Durration</th>
        <th>Goal</th>
        <th>Total</th>
        <th>Percentage</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>

<div>
    <a href="Main.html">
        <button style="background-color: #white; height: 50px; width: 310px; border-radius: 10px; font-size: 25px; border-style: solid">Exit</button>
    </a>
</div>

</html>
